<header class="header">

    <nav class="navbar">

        <!-- Logo -->
        <a href="index.html" class="logo">
    <img src="../portfolio-images/my-logo.png" alt="Ahmad Bilal Logo">
</a>
        <!-- Navigation Links -->
        <ul class="nav-menu">

            <li>
                <a href="index.html">Home</a>
            </li>

            <li>
                <a href="about.html">About</a>
            </li>

            <li>
                <a href="services.html">Services</a>
            </li>

            <li>
                <a href="projects.html">Projects</a>
            </li>

            <li>
                <a href="skills.html">Skills</a>
            </li>

            <li>
                <a href="contact.html">Contact</a>
            </li>

        </ul>

        <!-- Mobile Menu Button -->
        <button class="menu-toggle" type="button" aria-label="Open navigation menu">
            <i class="fa-solid fa-bars"></i>
        </button>

    </nav>

</header>
